<h1>Welcome {{currentUser.username}} on your private profile</h1>
<iframe src="https://giphy.com/embed/1EmBoG0IL50VIJLWTs" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/republicrecords-superbowl-theweeknd-1EmBoG0IL50VIJLWTs"></a></p>
{{!-- <p><a href="/main">Main</a></p> --}}